.App {
  text-align: center;
}

.container{
  width: 70%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.brand{
  padding: 18px 0px;
}

.App-header {
  background-color: #3b8fed;
  display: flex;
  min-width: 100vh;
  min-height: 3vh;
  flex-direction: row;
  align-items: center;
  padding-left: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  float: left;
}

.App-header-elements{
  float: right;
}

.nav a{
  color: black;
  font-size:1.5em;
  background-color:none;
}

.navbar-brand{
  font-size: 20px;
}

.btn{
  font-size: 1.5rem;
  margin-left: 15px;
  box-shadow: 0 8px 6px -6px #b59191;
}

.App-link {
  color: #61dafb;
}

.App-landing{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.App-landing-content{
  padding-top: 50px;
  height:103.8vh; 
}

.content-main{
  width:50%;
  float: left;
  font-size: 60px;
    -webkit-transform: translate(0%, 25%);
    -moz-transform: translate(0%, 25%); 
    -ms-transform: translate(0%, 25%); 
    -o-transform: translate(0%, 25%); 
    transform: translate(0%, 30%); 
}

.content-main p{
  padding: 0;
  margin: 0;
}

.content-main a{
    font-size: 60px;
    margin: 0;
    padding: 0;
}


.row {
  display: flex;

}

#part1{
width: 50%;
float: left;
transform: translate(10%, 10%); 
}

#part2{
width: 50%;
float: right;
transform: translate(0%, 20%); 
}

#part2 li{
  position: relative;
  background: #fafbfc;
  margin-bottom: 3rem;
  border-radius: 10px;
  padding: 2.3rem;
  list-style-type: none;
  box-shadow: 0 20px 50px rgba(17,17,17,0.2);
  border-radius: 15px;
}

#howitwork-head{
  text-align: center;
  font-size: 3.3rem;
  line-height: 1.18;
  letter-spacing: -0.03rem;  
  margin: 0;
  padding-top: 45px;
}

#category-head{
  text-align: center;
  font-size: 3.3rem;
  line-height: 1.18;
  letter-spacing: -0.03rem;  
  margin: 0;
  padding: 75px 0 20px 0;
}

#category-row{
  display: flex;
  margin: 20px 20px;
  width: 70%;  
  transform: translate(20%,20%);
}

.category-column{
  flex: 16.66%;
  text-align: center;
  border-radius: 15px;
  background: #fafbfc;
  box-shadow: 0 20px 50px rgba(17,17,17,0.2);
  margin: 0 25px;
  height: 250px;
  width: 175px;
}

.box{
  position: relative;
  text-align: center;
  color: white;
}

.box h4{
  position: absolute;
  margin-left: 45px;
  margin-top: -40px;
}


#features-head{
  text-align: center;

font-size: 3.3rem;

line-height: 1.18;

letter-spacing: -0.03rem;

margin: 0;

padding: 45px;
}

#about-head{
  text-align: center;
  font-size: 3.3rem;
  line-height: 1.18;
  letter-spacing: -0.03rem;  
  margin: 0;
  padding-top: 150px;
}

#part2 h5{
  color: red;
}

#part1 img{
  width: 650px;
  height: 650px;
}

.howitwork{
  height: 100vh;
  position: relative;
  align-content: center;
}

#step1{
  padding: 15px 10px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  background: white;
  height: max-content;
  font-size: 20px;
  margin-right: 6%;
  margin-bottom: 50px
}

#step2{
  padding: 15px 10px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  background: white;
  height: max-content;
  font-size: 20px;
  margin-right: 6%;
  margin-bottom: 50px
}

#step3{
  padding: 15px 10px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  background: white;
  height: max-content;
  font-size: 20px;
  margin-right: 6%;
}

.row {
  display: flex;
  border-radius: 15px;
  background: #fafbfc;
  margin: 0;
    box-shadow: 0 20px 50px rgba(17,17,17,0.2);
}

.column {
  flex: 33.33%;
  text-align: center;
  padding: 20px;
}

hr.vertical {
  width: 0px;
  height: 100%;
  /* or height in PX */
}

.features{
  width: 55%;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    margin-bottom: 50px;
    height: auto;
    margin: 0;
    border-radius: 15px;
}

.row img{
  height: 130px;
  width: 130px;
  padding-bottom: 40px;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

.categories{
  height: 38vh;
  width: auto;
  background: #3b8fed;
  position:relative; 

}

.categories-column-1{
  display: inline-flexbox;
  flex: 33.33%;
  padding: 40px;
  margin-left: 4%;
  left: 12%;
  position: relative;
  display: flex;
}

.categories-column-2{
  flex: 33.33%;
  padding: 40px;
  margin-left: 20%;
  left: 8%;
  position: relative;
}

.circle {
  width: 107px;
  height: 107px;
  background: white;
  border-radius: 60%;
  position: relative;
  margin-left: 80px;
  margin-right: 260px;
}

.circle.end{
  float: right;
  margin-right: 100px;
}



.illustration-categories{
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -9999px;
  background-size: 70px 48px;
  background-repeat: no-repeat;
  z-index: 1111;
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}

.illustration{
  display: block;
  background-repeat: no-repeat;
  float: right;

    top: 50%;
    left: 50%; 
    width: 700px;
    height: 515px; 
    -webkit-transform: translate(30%, -60%);
    -moz-transform: translate(30%, -60%); 
    -ms-transform: translate(30%, -60%); 
    -o-transform: translate(30%, -60%); 
    transform: translate(30%, -60%); 
}

.bg-landing{
  background: url("./assets/images/bg.svg");
  background-repeat: no-repeat;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vert-move-delay {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
.vert-move-delays {
  -webkit-animation: movers 2s infinite  alternate;
  animation: movers 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@-webkit-keyframes movers {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}
@keyframes movers {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

.about-us{
-webkit-justify-content: space-between;
justify-content: space-between;
-webkit-align-items: center;
align-items: center;
margin-top: 50px;
height: auto;
position: relative;
margin-bottom: 155px;
}

.about-us-pics{
  position: relative;
margin-left: 75px;
height: 483px;
max-width: 360px;
width: 50%;
float: left;
}

.about-us-pics img{
  box-shadow: 0 20px 50px rgba(17,17,17,0.5);
  border-radius: 15px;

}


.aboutuspica{
  max-width: 432px;
top: 0;
left: 0;
-webkit-margin-after: 120px;
margin-block-end: 85px;
height: 350px;
}

.aboutuspica img{
  height: 300px;
}

.aboutuspicb{
  max-width: 260px;
  right: -158px;
  top: 158px;
  z-index: 2;
  position: absolute;
  margin-left: 20px;
}

.aboutuspicb img{
  height: 350px;
}

.aboutuspicc{
  max-width: 300px;
  bottom: 0;
  right: 192px;
  z-index: 3;
}

.aboutuspicc img{
  height: 250px;
  margin-left: 60px;
}



.flex-row{
  display: flex;
  flex-direction: row;
}

/*Footer Css*/

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  position: absolute;
  padding: 55px 50px;
  margin-top: 10%;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

#ourteam {
  /* background: url(./3.jpg) center center no-repeat; */

  color: white;
  background-size: cover;
  height: auto;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 90px;
}

#ourfilter {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #000000, #391a21, #6f2b37, #a93d48, #e55353);
}

#teamdata {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

#teamdata2 {
  display: none;
}

#teamdata p {
  font-size: 70px;
  font-weight: 500;
}

.teamphoto {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 880px; */
  margin: auto;
}

.gallery-item {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px 180px;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(17,17,17,0.2);
  -webkit-align-items: center;
  align-items: center;
}

.gallery-item img {
  position: relative;
    /* border-radius: 50%; */
    width: 80px;
    height: 80px;
    /* margin: 10px; */
    /* text-decoration: none; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
    transform: translate(0%,25%);
}

.text-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: #000;
  opacity: 0;
  margin-top: -216px;
  margin-left: 10px;
}

.text-wrapper:hover {
  transition: all 0.8s ease;
  background: white;
  opacity: 0.7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#teamphoto2 {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto
}

